<?xml version="1.0" encoding="UTF-8"?>
<included>
    <!-- ****************************************** PRODUCTION PROFILE ****************************************** -->
    <!-- ****************************************** DEVELOPMENT PROFILE ****************************************** -->
    <!-- to activate profile set JAVA_OPTIONS=%JAVA_OPTIONS% -Dcom.horn.isTestServer=true -->

    <!-- parameter ${PATH_LOG} MUST be defined in including logback.xml -->

    <include resource="logback.common.xml"/>

    <appender name="DEBUG_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${PATH_LOG}/debug-${FILE_PATTERN}</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE"/>
        <appender-ref ref="ERROR_FILE"/>
    </root>

    <logger name="${APP_BASE_PACKAGE}" level="DEBUG">
        <appender-ref ref="DEBUG_FILE"/>
    </logger>

    <logger name="org.hibernate" level="warn"/>

    <logger name="liquibase" level="DEBUG">
        <appender-ref ref="DEBUG_FILE"/>
    </logger>

    <!-- EclipseLink logging categories -->
    <include resource="logback.eclipselink-file.xml"/>

    <if condition='!isDefined("CONSOLE_LOGGER")'>
        <then>
            <property name="CONSOLE_LOGGER" value="STDOUT"/>
        </then>
    </if>

    <!-- log to STDOUT on developer server
        set JAVA_OPTIONS=%JAVA_OPTIONS% -Dcom.horn.consoleLogging=true
    in setDomainEnv.cmd-->
    <if condition='isDefined("com.horn.consoleLogging") &amp;&amp; property("com.horn.consoleLogging").equalsIgnoreCase("true")'>
        <then>
            <logger name="com.horn.common" level="DEBUG">
                <appender-ref ref="${CONSOLE_LOGGER}"/>
            </logger>

            <logger name="com.horn.app" level="DEBUG">
                <appender-ref ref="${CONSOLE_LOGGER}"/>
            </logger>

            <logger name="${APP_BASE_PACKAGE}" level="DEBUG">
                <appender-ref ref="${CONSOLE_LOGGER}"/>
            </logger>

            <!-- EclipseLink logging categories -->
            <include resource="logback.eclipselink-stdout.xml"/>

            <logger name="liquibase" level="DEBUG">
                <appender-ref ref="${CONSOLE_LOGGER}"/>
            </logger>
        </then>
        <else>
            <logger name="com.horn.app" level="DEBUG">
                <appender-ref ref="SERVER_LOG"/>
            </logger>
        </else>
    </if>

    <logger name="com.horn.app" level="DEBUG">
        <appender-ref ref="DEBUG_FILE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="ERROR_FILE"/>
    </logger>

</included>
