<?xml version="1.0" encoding="UTF-8"?>
<included>
    <!-- ****************************************** PRODUCTION PROFILE ****************************************** -->

    <!-- parameter ${PATH_LOG} MUST be defined in including logback.xml -->

    <include resource="logback.common.xml"/>

    <root level="WARN">
        <appender-ref ref="FILE"/>
        <appender-ref ref="ERROR_FILE"/>
    </root>

    <logger name="ru.prbb" level="INFO"/>

    <logger name="org.hibernate" level="ERROR"/>

    <logger name="ru.prbb.common">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="liquibase">
        <appender-ref ref="STDOUT"/>
    </logger>
</included>
